DAILY_API_KEY=256123 # https://www.daily.co/products/pipecat-cloud/
DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/langchat #(optional: for joining the bot to the same room repeatedly for local dev)
#DAILY_SAMPLE_ROOM_TOKEN=9c8... # (optional: if your room above requires a token)
GOOGLE_API_KEY=your-gemini-api-key # https://aistudio.google.com/
CARTESIA_API_KEY=your-cartesia-api-key # https://cartesia.ai/

# OpenTelemetry/Langfuse Configuration
ENABLE_TRACING=true

OTEL_EXPORTER_OTLP_ENDPOINT=https://cloud.langfuse.com/api/public/otel # you can also use the 🇺🇸 US data region
OTEL_EXPORTER_OTLP_HEADERS=authorization=Bearer%20<LANGFUSE_SECRET_KEY> # https://langfuse.com/integrations/frameworks/pipecat#obtain-langfuse-api-keys
